*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/background-img.jpg");
  background-size: cover;
  background-position: center;
  letter-spacing: 0.08em;
  line-height: 1.8;
}

main{
  position: absolute;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 225, 230, 0.65);
  width: 60%;
  height: auto;
  color: white;
  border-radius: 15px;
  box-shadow:  rgb(184, 159, 177) 0px 25px 50px -12px;
}

.search{
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  box-shadow:  rgb(138, 110, 131) 0px 25px 50px -12px; 
  width: auto;
}

.input-field {
  border: none;
  outline: none;
  border-radius: 5px;
  /* height: 30%; */
  width: auto;
  background-color: whitesmoke;
  font-size: 15px;

}

button {
  background-color: rgb(184, 146, 175);
  color: white;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  border: none;
}

.fa-magnifying-glass {
  color: rgb(184, 146, 175);
}

.date {
  font-size: 30px;
}
@media (max-width: 600px) {
 
 main{
  width: 100%;
 }
}

.weather-info {
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding: 25px;
}

 .degree-btn {
  display: none; 
 
} 
#btn{
  display: none;
  border: 1px solid white;
}
.temp{
  margin: 8px 23px;
  display: flex;
}

.errorMessage{
  width: 300px;
  position: relative;
  top: 20%;
  color:red;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
  display: none;
}
.closeMessage {
  position: relative; 
  top: -70px;
  left: 250px;
}
.city-temp {
  display: flex;
}